.wrapper {
    background-color: var(--color-white);
    max-height: 37px;
    padding: 3px 2px 3px 15px !important;
    width: 250px;
    border-radius: 25px !important;
    margin-top: 10%;
    /* opacity: 10%; */
    font-size: 10px !important;
}

.button{
    border-radius: 30px;
    border: none;
    width: 120px;
    cursor: pointer;
    background-color: var(--color-primary);
    font-size: 10px;
    font-weight: bold;
    padding: 8px 0px;
}

.icon{
    width: 20px !important;
    height: 15px !important;
    align-items: end !important;
}

.textfield {
    font-size: 10px !important;
}