.wrapper {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 30px;
    padding-top: 5%;
    padding-bottom: 10%;
    color: white;
    padding: 100px;
}

.left {
    width: 30%;
}

.right {
    width: 22%;
}