.wrapper {
    padding: 0px 18%;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.image_bg {
    border-radius: 50%;
    background: white;
    color: #282c34;
    padding: 12% 12%;
    font-size: 10px;
}

.image_section {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    gap:10px;
}

.upper {
    display: flex;
    text-align: left;
}

.heading {
    width: 50%;
    margin-bottom: 0px;
    justify-content: left;
}